body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #33a8c9;

  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 30px 1fr 1fr 1fr 1fr 1fr 1fr 30px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  grid-column: span 11;
}

nav div {
  font-size: 20px;
  margin: 30px;
  background-color: #ffffff;
}

section {
  display: flex;
}

.title-space {
  grid-column: span 11;
  grid-row: span 2;
  justify-content: center;
  align-items: center;
  color: #ffdc98;
}

img {
  height: 100%;
  width: 100%;
}

.red {
  background-color: red;
}

.block-color {
  background-color: #bb6824;
}

.pipe-color {
  background-color: #28aa2b;
}

.space-2 {
  grid-column: span 2;
}

.space-3 {
  grid-column: span 3;
}

.space-4 {
  grid-column: span 4;
}

.space-5 {
  grid-column: span 5;
}

.space-6 {
  grid-column: span 6;
}

.space-7 {
  grid-column: span 7;
}

footer {
  display: flex;
  grid-column: span 11;
  background-color: #673f09;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
