body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #33a8c9;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  background-color: ffffff;
}

nav div {
  font-size: 20px;
  margin: 10px 50px;
  padding: 10px;
  background-color: #ffffff;
}

section {
  display: flex;
}
